
{% if section.blocks.size > 0 %}<div class="slider-product-proposal">
    <div class="slider-product-proposal__container">
      <div class="slider-product-proposal__content">
        <h2 class="slider-product-proposal__title">Produt title</h2>
        <div class="slider-product-proposal__subtitle">Produt subtitle</div>
      </div>
      <div class="slider-product-proposal__slider">
        <div class="slider-product-proposal__slider-list">
          {% for block in section.blocks %}
            {% if block.settings.proposal_product != blank %}
              {% assign product = block.settings.proposal_product %}
                <div class="slider-product-proposal__slider-item">
                  <a href="{{ product.url }}" class="slider-item__link"></a>
                  <div class="slider-item__image">
                    <img src="{{ product.featured_image | img_url: '700x' }}" alt="{{ product.featured_image.alt | default: product.title  }}" class="slider-item__picture" loading="lazy">
                  </div>
                  <h4>{{product.title}}</h4>
                  {% if product.content != blank %}
                      <div class="slider-item__content"> <p>
                        {{ product.content | truncate: 120, "..."  }} 
                      </p> </div>                
                  {% endif %}
                  <div class="slider-item__price">
                    {{ product.price | money_with_currency }}
                  </div>
                </div>
              {% endif %}        
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}




{{ 'slick-style.css' | asset_url | stylesheet_tag }}
<script src="{{ 'jquery-3.6.3.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    $('#shopify-section-{{section.id}} .slider-product-proposal__slider-list').slick({
      infinite: true,                   
    slidesToShow: 3,
    slidesToScroll: 3,
    speed: 300,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    }); 
  })
</script> 


{% schema %}
{
  "name": "Slider Products",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "slider_items",
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "Items per page",
      "default": 2
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Proposal product",
      "settings": [
      {
        "type": "product",
        "id": "proposal_product",
        "label": "Our proposal product"
      }]
    }
  ],
  "presets": [
    {
      "name": "Slider Products"
    }
  ]
}
{% endschema %}
